<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members of Library</title>
    <style>
        body{
            margin:10px;
            padding:10px;
            font-family: Arial, Helvetica, sans-serif;
        }
        a{
            margin:10px;
            padding:10px;
            color:white;
            text-decoration: none;
            font-weight:bold
        }
        .btn-add{
            background-color: green;
        }
        .btn-back{
            background-color: blue;
        }
        table{
            margin:20px;
        }
    </style>
</head>
<body>
    <h1>Books Available in Library</h1>
    <table border="1" cellpadding="10px">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Available</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.available}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{url_for('home')}}" class="btn-back">Back to home</a>
    <a href="{{url_for('Add_books')}}" class="btn-add">Add another book</a>
</body>
</html>