<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Added</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            padding:20px;
        }
        input,a{
            padding:10px;
            margin:10px;
        }
        .btn-get{
            background:blue;
            color:white ;
            text-decoration:none
        }
        .btn-add{
            background:green;
            color:white;
            text-decoration:none
        }
    </style>
</head>
<body>
    <h1>Added: {{task}}</h1>
    <h2>Task added Successfully!</h2>
        <a href="{{url_for('home')}}" class="btn-get">See all task</a>
        <a href="{{url_for('add_task')}}" class="btn-add">Add another task</a>
</body>
</html>